# Angular
node_modules/
dist/
.angular/
.cache/

# Spring Boot
target/
*.class

# Environment / secrets
.env
application-local.properties
application-prod.properties

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log